$chat-message-received-color: $black !default;
$chat-message-received-bg: $secondary !default;
$chat-message-sent-color: $black !default;
$chat-message-sent-bg: $secondary !default;
$chat-message-avatar-size: 48px !default;
$chat-message-border-radius: $generic-border-radius !default;
$chat-message-distance: 8px !default;
$chat-message-text-padding: 8px !default;

$item-base-color: $secondary !default;
