$editor-border-color: $secondary !default;
$editor-border-dark-color: $secondary !default;
$editor-content-padding: 10px !default;
$editor-content-min-height: 10em !default;
$editor-toolbar-padding: 4px !default;
$editor-hr-color: $editor-border-color !default;
$editor-hr-dark-color: $editor-border-dark-color !default;
$editor-button-gutter: 4px !default;
