// https://fonts.google.com/specimen/Open+Sans

$font-name: "Open Sans";
$font-name-path: "Open+Sans";
$font-family: $font-name, sans-serif;

$font-weight-regular: 400 !default;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
// Современный способ подключения вариативного шрифта Open Sans
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@mixin open-sans-font($weight: $font-weight-regular, $uniquifier: "default") {
  .open-sans-#{$uniquifier} {
    font-family: $font-family;
    font-style: normal;
    font-weight: $weight;
  }
}
