.landing-slider {
  .custom-caption {
    padding: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
// Responsive banner heights
.height-xs {
  height: 300px;
}

.height-sm {
  height: 400px;
}

.height-md {
  height: 500px;
}

.height-lg {
  height: 600px;
}
